.countdown {
  padding: 80px 20px;

  text-align: center;

  background: #faf7f2;
}

.countdown p {
  letter-spacing: 5px;

  font-size: 12px;
}

.countdown h2 {
  font-family: serif;

  font-size: 36px;

  margin: 20px;
}

.countdown__box {
  display: flex;

  justify-content: center;

  gap: 15px;

  flex-wrap: wrap;
}

.countdown__box div {
  background: white;

  width: 70px;

  height: 90px;

  border-radius: 15px;

  display: flex;

  flex-direction: column;

  justify-content: center;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.countdown h3 {
  font-size: 30px;

  margin: 0;
}

.countdown span {
  font-size: 13px;

  color: #777;
}

.countdown__box h3 {
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.05);
  }
}
