.music {
  position: fixed;

  right: 25px;

  bottom: 25px;

  width: 55px;

  height: 55px;

  border-radius: 50%;

  border: none;

  background: #c49a5c;

  color: white;

  font-size: 25px;

  cursor: pointer;

  z-index: 999;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.music.playing {
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
