.music-button {
  position: fixed;

  right: 30px;

  bottom: 30px;

  width: 60px;

  height: 60px;

  border-radius: 50%;

  border: none;

  background: linear-gradient(135deg, #d5b06d, #b88746);

  color: white;

  font-size: 25px;

  cursor: pointer;

  z-index: 9999;

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.music-button.playing {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.music-button:hover {
  transform: scale(1.1);
}
