.gallery {
  padding: 100px 20px;

  background: #faf7f2;

  text-align: center;
}

.gallery__label {
  letter-spacing: 5px;

  font-size: 12px;
}

.gallery h2 {
  font-family: serif;

  font-size: 36px;
}

.gallery__grid {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 15px;

  max-width: 600px;

  margin: auto;
}

.gallery__image {
  width: 100%;

  height: 220px;

  object-fit: cover;

  border-radius: 20px;

  cursor: pointer;

  transition: 0.5s;
}

.gallery__image:hover {
  transform: scale(1.05);
}

.gallery__modal {
  position: fixed;

  inset: 0;

  background: rgba(0, 0, 0, 0.8);

  display: flex;

  align-items: center;

  justify-content: center;

  z-index: 999;
}

.gallery__modal img {
  max-width: 90%;

  max-height: 80%;

  border-radius: 20px;
}
